# Exclude node_modules directory and its contents
node_modules

# Exclude development-related files and directories
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store

# Exclude version control directories
.git
.svn

# Exclude build and temporary files
/build
/tmp

# Exclude other files or directories you want to omit from the build context
file_to_exclude.txt
directory_to_exclude/
