@use'./variable';

.calculatorContainer {

    background: variable.$calculator-background;
    padding: 10px;
    border-radius: 5px;

    .inuputContainer {
        background-color: white;
        border-radius: 5px;
    }

    input[type=text] {
        border: none;
        margin-bottom: 10px;
        pointer-events: none;
        text-align: end;
    }

    input[type=text].expression {
        font-size: 1em;
    }

    input[type=text].answer {
        font-size: 1.5em;
    }
}

.numberPad {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 50px);

    .numbers {
        font-size: 1.2em;
    }

    .operator {
        font-size: 1.2em;
    }
}

.grid-item {
    grid-column-start: 1;
    grid-column-end: 3;
}